:root{

}

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    max-width: 1280px;
}

button{
    padding: 10px;
    border: none;
    border-radius: 6px;
    background-color: 0000001a;
}